.flex{
    display: flex;
}

.fDirColumn{
    flex-direction: column;
}

.fDirRow{
    flex-direction: row;
}

.fJusBetween{
    justify-content: space-between;
}

.fJusCenter{
    justify-content: center;
}

.fJusEnd{
    justify-content: flex-end;
}

.fJusAround{
    justify-content: space-around;
}

.fAliCenter{
    align-items: center;
}