@use '../../../../../../scss/mixins';

.subtitle{
  display: inline-block;
  font-size: .8em;
  color: #ECE322;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 900;
  max-width: 400px;
  @include mixins.ellipses;
  
  @media only screen and (max-width: 750px) {
    font-size: .7em;
    max-width: 200px;
    margin: 2px 0;
  }
}