@use '../../../../../../scss/base/colors';
@use '../../../../../../scss/mixins';

.movie-title{
    font-size: 1.5em;
    font-weight: 900;
    max-width: 18em;
    margin: 0;
    line-height: .8;
    padding-bottom: 8px;
    @include mixins.ellipses;
    @media only screen and (max-width: 700px) {
      font-size: 1em;
      max-width: 10em;
    }
  }
  
  
  
  .movie-rating{
    background-color: colors.$PRIMARY_COLOR;
    color: white;
    border-radius: 5px;
    padding: 5px;
    width: 1.4em;
    height: 1em;
  }
  